In [1]:
import yfinance as yf 
import pandas as pd 
import datetime
import seaborn as sns

sns.set_style('whitegrid')
%matplotlib inline

In [2]:
# Create list of all companies we want records for. 
EU_Stock_list = ['VWAGY', 'BAMXF', 'DMLRY', 'POAHY', 'VLVLY' ]

# Set Range we want to records from. 
start = datetime.date(2019,12,2) 
end = datetime.date(2020,12,3)


# Loop through records for all ticker symbols in our list.
for stock in EU_Stock_list:
     globals()[stock] = yf.download(stock,start,end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
VWAGY.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000
mean,17.011657,17.162720,16.838728,17.003197,16.558709,156161.811024
std,2.048049,1.986705,2.097895,2.047693,2.032019,114150.797905
min,11.120000,11.320000,10.600000,10.680000,10.339252,25500.000000
25%,15.992000,16.150000,15.880000,16.002500,15.538439,82225.000000
50%,17.215000,17.384999,17.059999,17.250000,16.906306,123850.000000
75%,18.582500,18.730000,18.490000,18.557499,18.061018,192425.000000
max,20.270000,20.350000,20.180000,20.240000,19.910999,907700.000000

In [4]:
BAMXF.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000
mean,68.507795,68.848228,68.212362,68.532008,66.961709,2388.582677
std,10.870597,10.647130,10.984936,10.782034,10.925868,5735.327349
min,40.049999,41.930000,39.900002,41.849998,39.632286,0.000000
25%,62.790001,63.212500,62.657499,62.657499,60.757669,200.000000
50%,69.480000,69.660000,69.114998,69.114998,68.468548,700.000000
75%,75.652500,75.735001,75.430000,75.655001,75.212500,1875.000000
max,90.400002,90.400002,90.400002,90.400002,90.400002,60200.000000

In [5]:
POAHY.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000
mean,5.977835,6.035276,5.915945,5.972441,5.574616,123031.496063
std,0.979740,0.962855,0.996756,0.981074,0.921151,164551.136831
min,3.090000,3.260000,3.020000,3.160000,2.816694,9900.000000
25%,5.572500,5.670000,5.490000,5.562500,5.334442,33050.000000
50%,5.995000,6.065000,5.965000,6.040000,5.796659,58950.000000
75%,6.605000,6.677500,6.605000,6.647500,6.155041,125475.000000
max,7.750000,7.770000,7.700000,7.720000,6.910000,902500.000000

In [6]:
VLVLY.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000
mean,16.723354,16.868067,16.575795,16.727413,16.511059,60700.787402
std,3.222877,3.176517,3.241113,3.199184,3.291368,89758.058637
min,9.430000,9.770000,9.050000,9.335000,8.959572,4500.000000
25%,15.011250,15.095000,14.982500,15.027500,14.580278,20000.000000
50%,16.725000,16.825000,16.641500,16.717500,16.222564,31800.000000
75%,18.922500,18.992000,18.786250,18.865001,18.865001,66000.000000
max,23.680000,23.790001,23.469999,23.760000,23.760000,767000.000000

In [7]:
DMLRY.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,2.540000e+02
mean,11.554567,11.679842,11.436142,11.560118,11.279779,2.016909e+05
std,2.599524,2.569259,2.630415,2.600441,2.639069,2.980661e+05
min,5.750000,6.040000,5.610000,5.770000,5.427762,1.260000e+04
25%,9.945000,10.120000,9.780000,9.982500,9.568786,5.285000e+04
50%,11.745000,11.895000,11.720000,11.805000,11.425000,1.081500e+05
75%,13.627500,13.710000,13.537500,13.650000,12.969051,2.171250e+05
max,17.209999,17.360001,17.160000,17.330000,17.330000,2.979500e+06