In [1]:
import yfinance as yf 
import pandas as pd 
import datetime
import seaborn as sns

sns.set_style('whitegrid')
%matplotlib inline

In [2]:
# Create list of all companies we want records for. 
US_Stock_list = ['GM', 'F', 'FCAU', 'TSLA' ]

# Set Range we want to records from. 
start = datetime.date(2019,12,2) 
end = datetime.date(2020,12,3)


# Loop through records for all ticker symbols in our list.
for stock in US_Stock_list:
     globals()[stock] = yf.download(stock,start,end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
GM.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,2.540000e+02
mean,30.043701,30.579134,29.491457,30.018347,29.908212,1.501639e+07
std,6.104337,6.063281,6.193110,6.157997,6.072470,6.784088e+06
min,16.340000,18.559999,14.330000,16.799999,16.799999,2.924200e+06
25%,25.597500,25.925000,25.012500,25.520000,25.520000,9.906700e+06
50%,29.809999,30.395000,29.335000,29.850000,29.850000,1.431905e+07
75%,34.997500,35.349998,34.417499,34.917499,34.565832,1.785645e+07
max,45.910000,46.709999,45.070000,46.459999,46.459999,5.200000e+07

In [4]:
F.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,2.540000e+02
mean,7.087835,7.198031,6.960118,7.071811,7.048160,7.493878e+07
std,1.451224,1.432067,1.486050,1.463925,1.429831,3.144979e+07
min,4.270000,4.420000,3.960000,4.010000,4.010000,1.188160e+07
25%,6.052500,6.112500,5.862500,6.030000,6.030000,5.238580e+07
50%,6.940000,7.050000,6.860000,6.955000,6.955000,6.952290e+07
75%,8.225000,8.345000,8.097500,8.210000,8.210000,9.234945e+07
max,9.550000,9.570000,9.440000,9.540000,9.450000,2.318008e+08

In [5]:
FCAU.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,2.540000e+02
mean,11.449606,11.559370,11.305157,11.421260,11.032136,3.175450e+06
std,2.457999,2.441166,2.484483,2.457146,2.309054,1.800076e+06
min,6.180000,6.450000,6.000000,6.350000,5.797826,9.549000e+05
25%,9.710000,9.902500,9.382500,9.655000,9.500870,1.930900e+06
50%,11.600000,11.710000,11.495000,11.525000,11.296739,2.692950e+06
75%,13.295000,13.387500,13.197500,13.267500,12.604348,3.736200e+06
max,15.900000,16.040001,15.780000,16.010000,16.010000,1.149710e+07

In [6]:
TSLA.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,2.540000e+02
mean,244.012190,250.923449,236.803229,244.311598,244.311598,6.317886e+07
std,141.869390,145.355655,137.615670,141.901199,141.901199,4.382299e+07
min,65.879997,66.884003,65.449997,66.073997,66.073997,7.255600e+06
25%,126.076002,130.629005,121.775999,128.388000,128.388000,3.042350e+07
50%,181.892998,185.783997,176.055000,180.041000,180.041000,5.453075e+07
75%,394.733498,408.445007,378.302490,402.257500,402.257500,8.674612e+07
max,602.210022,607.799988,578.450012,585.760010,585.760010,3.046940e+08